@font-face {
    font-family: Chess; 
    src: url(fonts/Chess7-DaE1.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    /* background-color: antiquewhite; */
    background-color: #918f89;
}

input {
    margin-left: 50px;
    margin-top: 50px;
}

.board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-left: 50px;
    margin-top: 50px;
    border: 2px solid black;
    transform-origin: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75px;
    max-height: 75px;
}

.dark {
    background-color: #443f3f;
}

.light {
    background-color: #e6dbbd;
}

.white {
    /* background-color: white;
    color: black; */
    color: white;
    padding: 0px;
    border-radius: 5px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.black {
    /* background-color: black;
    color: white; */
    color: black;
    padding: 0px;
    border-radius: 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.piece {
    position: absolute;
    font-family: Chess;
    font-size: 60px;
    transform-origin: center;
}

/* .dark .piece {
    color: white;
} */

.messageBox {
    width: 171px;
    height: 18px;
    background-color: white;
    border: 1px solid #777;
    margin-left: 50px;
}